* {
  margin: 0;
  padding: 0;
}

/* --------------------------------------NAVIGATION BAR------------------------ */




li{
  color: #000;
  cursor:pointer;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  .menu-toggle {
    display: inline-block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #333;
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    color: #c00;
  }
  
  
  .main-menu {
    overflow: hidden;
    position: absolute;
    display: none;
    left: -200px;
    top: 0;
    height: 100%;
      overflow-y: scroll;
      overflow-x: visible;
      transition: left 0.3s ease,box-shadow 0.3s ease;
      z-index: 999;
      background-color: rgba(255, 255, 255, 0.436);
      color: white;
  }
  
  .main-menu ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 2.5em 0 0;
    -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
       -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
            box-shadow: -8px 0 8px rgba(0,0,0,.5);
    min-height: 100%;
    width: 200px;
    background: rgba(255, 255, 255, 0.464);
  }
  .main-menu a {
    display: block;
    padding: .75em 10px;
    line-height: 1em;
    font-size: 1em;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #383838;
  }
  
  .main-menu a.menu-close {
    border-bottom: 0; 
  }
  
  .main-menu li:first-child a {
    border-top: 1px solid #383838;
  }
  .main-menu a:hover,
  .main-menu a:focus {
    background: #333;
    text-decoration: none;
  }
  .main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0;
  }
  .main-menu:target,
  .main-menu[aria-expanded="true"] {
    display: block;
    left: 0; 
    outline: none;

  }
  .main-menu:target .menu-close,
  .main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001;
  }
  .main-menu:target ul,
  .main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000;
  }
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: absolute;
    display: block;  
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000;
    background: rgba(0,0,0,.85);
    cursor: default;
  }
  @supports (position: fixed) {
    .main-menu,
    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop {
      position: fixed;
    }
  }
  @media (max-width: 800px) {
    /* .menu-toggle,
    .main-menu .menu-close {
      display: none;
    } */
    .menu-close{
      background-color: #06c;
    }
    .main-menu {
      overflow: hidden;
      position: relative;
          left: auto;
          top: auto;
          height: auto;
      display: block;
    }
    .main-menu ul {
      display: flex;
      padding: 0;
      -webkit-box-shadow: none;
         -moz-box-shadow: none;
              box-shadow: none;
      height: auto;
      width: auto;
      background: none;
      flex-direction: column;
    }
    
    .main-menu a {
      color: #06c;
      border: 0 !important;
    }
    
    .main-menu a:hover,
    .main-menu a:focus {
      background: none;
      color: #c00;

    }
    .logo{
      margin-right: 0%;
      width: fit-content;
    }
    
  }
  @media only screen and (max-width: 600px){
  #tl {
    display: none;
}
.menu-toggle{
  margin-right: 30px;
}
.logo {
  margin-right: 0%;
}
header{
  width: 100%;
  padding: 0px;
  margin: 0px;
}
}
  header {
    padding: 20px;
    display: flex;
    align-items: baseline;
  }
  
  article {
    padding: 30px;
    max-width: 55em;
    font-size: 16px;
    line-height: 1.5em;
  }
  
  article h2 {
    font-weight: 500;
    font-size: 28px;
  }
  
  .logo {
    margin: 0px 0px 0px 0px;
    font-size: 1.5em;
    left: 0px;
    margin-right: 40%;
  }
  #tl{
    margin-left: 30px;
    margin-right: 40px;
    width: 5%;
    height: 5%;
}header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
li{
  border: 1px solid black;
  margin: 8px;
  border-radius: 5px;
  background: white;
  transition: border-radius 0.5s;
 }
li:hover{
  background: hsla(207, 96%, 69%, 1);

  background: linear-gradient(90deg, hsla(207, 96%, 69%, 1) 0%, hsla(220, 97%, 64%, 1) 0%, hsla(192, 89%, 63%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(207, 96%, 69%, 1) 0%, hsla(220, 97%, 64%, 1) 0%, hsla(192, 89%, 63%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(207, 96%, 69%, 1) 0%, hsla(220, 97%, 64%, 1) 0%, hsla(192, 89%, 63%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#65B8FC", endColorstr="#4C87FC", GradientType=1 );
  border-radius: 30px;
}
a.lisbox{
  color: black;
  transition: color 0.5s;
}
a.lisbox:hover{
  color: white;
}
  /* ------------------------------------SLIDER------------------------------ */

  .swiper-container {
    margin-top: 100px;
  }

  #valsco-logo{
    margin: auto;
  }
  .swiper-slide-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 2px lightgrey;
    padding: 30px;
    margin: 20px;
    border-radius: 50px;
  }
  .swiper-slide-title{
    width: 100%;
    text-align: center;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .swiper-slide-desc{
    text-align: center;
    height: 120px;
  }

.swiperslide {
  max-width: 50%;
  /* max-height: 80%; */
}
Swiper {
  background-position: center;
}
.swiper-slide-author{
  text-align: center;
  font-weight: bold;
}
.slider-instruct{
  text-align: center;
}

@media screen and (max-width: 690px) {
  .swiperslide {
    max-width: 80%;
  }
}
@media screen and (max-width: 970px) {
  .swiper-slide-desc{
    height: 180px;
  }
}
@media screen and (max-width: 340px) {
  .swiperslide {
    max-width: 70%;
    /* max-height: 80%; */
  }
}
@media screen and (max-width: 430px) {
  .swiper-slide-desc{
    height: 220px;
  }
  /* .swiperslide {
    max-width: 92%;
  } */
  .swiperslide {
    max-width: 90%;
    /* max-height: 80%; */
  }
}
@media screen and (max-width: 340px) {
  .swiper-slide-desc{
    height: 250px;
  }
}

/* -----------------------------------BLOG CARD-------------------------------------- */



.blog-description {
  height: 300px;
}
.blog-section {
  width: 900px;
}

.blog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  margin: 30px;
  padding: 20px;
  width: 350px;
  box-shadow: 0px 0px 10px 2px lightgrey;
  padding-top: 40px;
}
/* .blog-card:hover {
  border: 1px solid green;
} */
.blog-card-title{
  /* border: 2px solid red; */
  width: 320px;
  white-space: nowrap; 
  padding: 0px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-card-desc{
  height: 120px;
}
.blog-card-author {
  font-weight: bold;
}
.blog-card-btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-card-read-btn {
  width: 110px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 10px;
  background: linear-gradient(
    hsla(248, 87%, 36%, 1) 0%,
    hsla(191, 75%, 60%, 1) 100% 
  );
  margin: 4px;
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
}
.blog-card-read-btn:hover {
  background: linear-gradient(
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 100% 
  );
  border: 1px solid green;
  color: black;
  text-decoration: none;
}
.blog-card-delete-btn {
  width: 110px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 10px;
  background: linear-gradient(
    hsla(248, 87%, 36%, 1) 0%,
    hsla(191, 75%, 60%, 1) 100% 
  );
  margin: 4px;
  text-decoration: none;
  color: white;
  border: 0;

}
.blog-card-delete-btn:hover {
  background: linear-gradient(
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 100% 
  );
  border: 1px solid red;
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 420px) {
  .blog-card {
    font-size: 13px;
    width: 400px;
    height: 320px;
  }
}
@media screen and (max-width: 400px) {
  .blog-card {
    font-size: 13px;
    width: 300px;
    height: 320px;
  }
  .blog-card-delete-btn{
    width: 80px;
    height: 30px;
  }
  .blog-card-read-btn{
    width: 80px;
    height: 30px;
  }
  .blog-card-title{
   width: 200px;
  }
}

/* -----------------------------------------BLOG HOME------------------------------------ */

.blog-card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 30px;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #2e2d2d;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #2c2a2a transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* --------------------------------CREATE BLOG SECTION-------------------------------- */

.create-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  padding: 50px;
  box-shadow: 0px 0px 10px 2px lightgrey;
  border-radius: 50px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.title-blog {
  padding: 20px;
  margin: 15px;
  text-align: center;
  width: 500px;
  height: 50px;
  border-radius: 15px;
}

.type-blog {
  padding: 20px;
  margin: 15px;
  text-align: center;
  width: 500px;
  height: 200px;
  border-radius: 15px;
}
.create-blog-btn {
  width: 150px;
  height: 50px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid green;
  margin: 4px;
  text-decoration: none;
  color: black;
  background-color: white;
}
.create-blog-btn:hover {
  background-color: green;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .create-div {
    width: 400px;
  }
  .title-blog {
    width: 300px;
    height: 50px;
  }
  .type-blog {
    width: 300px;
    height: 200px;
  }
}
@media screen and (max-width: 480px) {
  .create-div h2 {
    font-size: 18px;
  }
  .create-div {
    width: 280px;
  }
  .title-blog {
    width: 200px;
    height: 50px;
  }
  .type-blog {
    width: 200px;
    height: 150px;
  }
}

/* --------------------------------DETAILED-BLOG----------------------- */

.detailed-blog {
  text-align: center;
  border-bottom: 2px solid darkblue;
  padding: 50px 0px;
  margin: 30px 50px;
}
.detailed-blog-title {
  padding: 30px 0px;
}
.detailed-blog-author {
  font-weight: bold;
}

/* ----------------------------------LOGIN SECTION--------------------------------- */

.login-head {
  text-align: center;
  padding-top: 50px;
}
#login-img {
  width: 150px;
}
#google-img {
  width: 30px;
}
.login-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  border-radius: 50px;
  padding: 50px;
  box-shadow: 0px 0px 10px 2px lightgrey;
  width: 400px;
}
.login-btn {
  width: 70px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid grey;
  background-color: white;
}
.login-btn:hover {
  box-shadow: 0px 0px 10px 2px lightgrey;
}

@media screen and (max-width: 450px) {
  .login-div {
    width: 280px;
  }
}


.alert-main-div{
  height: 40px;
  position: sticky;
  top: 50px;
  z-index: 20;
}
.alert-div{
  padding-top: 5px;
  height: 40px;
  text-align: center;
  width: 100%;
}