.shadow-icon {
  opacity: 0.7;
}
.iphone-14-pro-space-black-mock1,
.main-icon,
.shadow-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 504.5px;
  height: 1022.5px;
  object-fit: cover;
}
.iphone-14-pro-space-black-mock1 {
  top: 19.5px;
  left: 24px;
  width: 454.5px;
  height: 980.75px;
  mix-blend-mode: normal;
}
.iphone-14-pro-space-black-mock {
  position: relative;
  width: 10%;
  height: 1022.5px;
  scale: 0.6;
  transition:all ease-in-out 1s, z-index ease-in 0s;
  z-index: 1000;
  right: 5%;
}
