* {
    margin: 0;
}

body {
    height: 100vh;
    overflow-x: hidden;

}

.load-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.show {
    animation: slideIn;
    animation-duration: 2s;
    transform: translateY(-10vh);
    /* animation-fill-mode: forwards; */
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  

@media only screen and (min-width: 992px) and (max-width: 1600px) {

    span {
        padding-right: 20px;
    }

    .head {
        text-align: center;
        font-size: 100px;
        padding-top: 280px;
    }

    .body {
        height: 200vh;
        background-color: cadetblue;
    }

    /* Loading animation */

    .loading {
        background-color: white;
        height: 100vh;
        /* padding-left: 400px; */
    }



    .box {

        animation: small ease-in-out 800ms;
        height: 100vh;
        background-color: black;
    }

    @keyframes small {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(0.5, 0);
        }
    }

    .text {
        display: none;
        color: black;
        height: 100vh;
        animation: fade 3000ms;
        font-size: 100px;
        margin-left: 50vw;
        font-weight: bolder;
        padding-top: 273px;
        animation: moveLeft 700ms ease-in;
        margin-right: 5vw;
    }

    @keyframes fade {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }



    .center {
        font-size: 120px;
    }

    .pos {
        font-size: 120px;
        margin-left: 28vw;
        color: black;
        height: 100vh;
        font-weight: bolder;
        padding-top: 273px;
    }

    @keyframes moveLeft {
        0% {
            margin-left: 50vw;
        }

        100% {
            margin-left: 28vw;
        }

    }


    .hide {
        display: none;
    }

    .show0 {
        display: inline;
        animation: slow ease-in-out 1000ms;
    }

    .show1 {
        display: inline;
        animation: slow ease-in-out 1000ms;
    }

    .show2 {
        display: inline;
        animation: slow ease-in-out 1000ms;
    }

    .show3 {
        display: inline;
        animation: slow ease-in-out 1000ms;
    }

    .show4 {
        display: inline;
        animation: slow ease-in-out 1000ms;
    }

    @keyframes slow {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .full {
        animation: fadeOut ease-in-out 1000ms;
        opacity: 0;

    }

    @keyframes fadeOut {
        from {
            opacity: 1;

        }

        to {
            opacity: 0;

        }

    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

    span {
        padding-right: 15px;
    }

    body {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .head {
        text-align: center;
        font-size: 100px;
        padding-top: 280px;
    }

    .body {
        height: 200vh;
        background-color: cadetblue;
    }

    /* Loading animation */

    .loading {
        background-color: white;
        height: 100vh;
        /* padding-left: 400px; */
    }

    .box {

        animation: small ease-in-out 800ms;
        height: 100vh;
        background-color: black;
    }

    @keyframes small {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(0.5, 0);
        }
    }

    .text {
        display: none;
        color: black;
        height: 100vh;
        animation: fade 3000ms;
        font-size: 100px;
        margin-left: 40vw;
        font-weight: bolder;
        padding-top: 273px;
        animation: moveLeft 700ms ease-in;
        margin-right: 5vw;
    }

    @keyframes fade {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }



    .center {
        font-size: 100px;
    }

    .pos {
        font-size: 100px;
        margin-left: 22vw;
        color: black;
        height: 100vh;
        font-weight: bolder;
        padding-top: 273px;
    }

    @keyframes moveLeft {
        0% {
            margin-left: 40vw;
        }

        100% {
            margin-left: 22vw;
        }

    }


    .hide {
        display: none;
    }

    .show0 {
        display: inline;
        animation: slow ease-in-out 1000ms;
    }

    .show1 {
        display: inline;
        animation: slow ease-in-out 1000ms;
    }

    .show2 {
        display: inline;
        animation: slow ease-in-out 1000ms;
    }

    .show3 {
        display: inline;
        animation: slow ease-in-out 1000ms;
    }

    .show4 {
        display: inline;
        animation: slow ease-in-out 1000ms;
    }

    @keyframes slow {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .full {
        animation: fadeOut ease-in-out 1000ms;
        opacity: 0;

    }

    @keyframes fadeOut {
        from {
            opacity: 1;

        }

        to {
            opacity: 0;

        }

    }

}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    span {
        padding-right: 10px;
    }

    body {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .head {
        text-align: center;
        font-size: 100px;
        padding-top: 280px;
    }

    .body {
        height: 200vh;
        background-color: cadetblue;
    }

    /* Loading animation */

    .loading {
        background-color: white;
        height: 100vh;
        /* padding-left: 400px; */
    }



    .box {

        animation: small ease-in-out 800ms;
        height: 100vh;
        background-color: black;
    }

    @keyframes small {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(0.5, 0);
        }

    }

    .text {
        display: none;
        color: black;
        height: 100vh;
        animation: fade 3000ms;
        font-size: 100px;
        margin-left: 40vw;
        font-weight: bolder;
        padding-top: 273px;
        animation: moveLeft 700ms ease-in;
        margin-right: 5vw;
    }

    @keyframes fade {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }



    .center {
        font-size: 90px;
    }

    .pos {
        font-size: 90px;
        margin-left: 18vw;
        color: black;
        height: 100vh;
        font-weight: bolder;
        padding-top: 273px;
    }

    @keyframes moveLeft {
        0% {
            margin-left: 40vw;
        }

        100% {
            margin-left: 18vw;
        }

    }


    .hide {
        display: none;
    }

    .show0 {
        display: inline;
        animation: slow ease-in-out 1000ms;
    }

    .show1 {
        display: inline;
        animation: slow ease-in-out 1000ms;
    }

    .show2 {
        display: inline;
        animation: slow ease-in-out 1000ms;
    }

    .show3 {
        display: inline;
        animation: slow ease-in-out 1000ms;
    }

    .show4 {
        display: inline;
        animation: slow ease-in-out 1000ms;
    }

    @keyframes slow {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .full {
        animation: fadeOut ease-in-out 1000ms;
        opacity: 0;

    }

    @keyframes fadeOut {
        from {
            opacity: 1;

        }

        to {
            opacity: 0;

        }

    }
}


@media only screen and (min-width: 400px) and (max-width: 600px) {
    span {
        padding-right: 8px;
    }

    body {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .head {
        text-align: center;
        font-size: 100px;
        padding-top: 280px;
    }

    .body {
        height: 200vh;
        background-color: cadetblue;
    }

    /* Loading animation */

    .loading {
        background-color: white;
        height: 100vh;
        /* padding-left: 400px; */
    }



    .box {

        animation: small ease-in-out 800ms;
        height: 100vh;
        background-color: black;
    }

    @keyframes small {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(0.5, 0);
        }

    }

    .text {
        display: none;
        color: black;
        height: 100vh;
        animation: fade 3000ms;
        font-size: 100px;
        margin-left: 50vw;
        font-weight: bolder;
        padding-top: 273px;
        animation: moveLeft 700ms ease-in;
        margin-right: 5vw;
    }

    @keyframes fade {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }



    .center {
        font-size: 50px;
    }

    .pos {
        font-size: 50px;
        margin-left: 24vw;
        color: black;
        height: 100vh;
        font-weight: bolder;
        padding-top: 273px;
    }

    @keyframes moveLeft {
        0% {
            margin-left: 50vw;
        }

        100% {
            margin-left: 24vw;
        }

    }


    .hide {
        display: none;
    }

    .show0 {
        display: inline;
        animation: slow ease-in-out 1000ms;
    }

    .show1 {
        display: inline;
        animation: slow ease-in-out 1000ms;
    }

    .show2 {
        display: inline;
        animation: slow ease-in-out 1000ms;
    }

    .show3 {
        display: inline;
        animation: slow ease-in-out 1000ms;
    }

    .show4 {
        display: inline;
        animation: slow ease-in-out 1000ms;
    }

    @keyframes slow {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .full {
        animation: fadeOut ease-in-out 1000ms;
        opacity: 0;

    }

    @keyframes fadeOut {
        from {
            opacity: 1;

        }

        to {
            opacity: 0;

        }

    }
}